<template>
    <div class="tile is-parent ${value.isRead ? 'read' : 'unread'}">
        <div class="tile is-child">
            <div class="card">
                <header class="card-content">
                    <div class="is-pulled-right">
                        <a if.bind="value.isFavorite" click.delegate="unmarkAsFavorite()">
                            <i class="fas fa-star is-size-5"></i>
                        </a>
                        <a else click.delegate="markAsFavorite()">
                            <i class="far fa-star is-size-5"></i>
                        </a>
                    </div>
                    <p class="title">
                        <!-- We use mouseup instead of click to correctly detect wheel clicks. -->
                        <a
                            href.bind="value.link"
                            target="_blank"
                            mouseup.delegate="markAsRead()"
                        >${value.title}</a>
                    </p>
                    <p class="subtitle is-4">${value.author} ${value.updatedAt | df:timeFormat } – ${value.feedTitle}</p>
                    <p if.bind="value.description">${value.description}</p>
                </header>
                <footer class="card-footer">
                    <div class="card-footer-item is-hidden-mobile">
                        <button
                            class="button is-light is-fullwidth"
                            type="button"
                            if.bind="value.isFavorite"
                            click.delegate="unmarkAsFavorite()"
                            t="article-unmark-as-favorite-btn"
                        ></button>
                        <button
                            class="button is-light is-fullwidth"
                            type="button"
                            else
                            click.delegate="markAsFavorite()"
                            t="article-mark-as-favorite-btn"
                        ></button>
                    </div>
                    <div class="card-footer-item is-hidden-mobile">
                        <button
                            class="button is-light is-fullwidth"
                            type="button"
                            if.bind="value.isRead"
                            click.delegate="markAsUnread()"
                            t="article-mark-as-unread-btn"
                        >
                            Mark as unread
                        </button>
                            <button
                            class="button is-light is-fullwidth"
                            type="button"
                            else
                            click.delegate="markAsRead()"
                            t="article-mark-as-read-btn"
                        >
                            Mark as read
                        </button>
                    </div>
                    <div class="card-footer-item">
                        <button
                            class="button is-primary is-fullwidth"
                            type="button"
                            click.delegate="open()"
                            t="article-open-btn"
                        >
                            Open
                        </button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>
