<template>
    <label class="checkbox">
        <input type="checkbox" checked.one-way="options.markAsReadOnScroll" change.delegate="toggleMarkAsReadOnScroll()">
        <span t="options-mark-as-read-on-scroll"></span>
    </label>

    <label class="checkbox ml-4">
        <input type="checkbox" checked.one-way="options.displayDescriptions" change.delegate="toggleDisplayDescriptions()">
        <span t="options-display-descriptions"></span>
    </label>

    <label class="checkbox ml-4">
        <input type="checkbox" checked.one-way="options.viewOnlyUnread" change.delegate="toggleViewOnlyUnread()">
        <span t="options-view-only-unread"></span>
    </label>
</template>
