<template>
    <h2 class="subtitle is-2">${title}</h2>

    <div if.bind="isFetching" class="has-text-centered">
        <i class="fas fa-spinner fa-spin is-size-1"></i>
    </div>
    <div class="articles-container" else>
        <p if.bind="articles.length === 0" t="display-articles-from-category-no-article">No article.</p>

        <div class="tile is-ancestor is-vertical">
            <aurss-article
                repeat.for="article of articles"
                aurss-swipable="on-swipe-success.bind: markArticleAsReadAndDiscard; on-swipe-success-arg.bind: article"
                aurss-mark-as-read-on-scroll="mark-as-read.bind: markArticleAsRead; article.bind: article"
                value.one-time="article"
                mark-article-as-read.one-time="markArticleAsRead"
                mark-article-as-unread.one-time="markArticleAsUnread"
                mark-article-as-favorite.one-time="markArticleAsFavorite"
                unmark-article-as-favorite.one-time="unmarkArticleAsFavorite"
                open-article.one-time="openArticle"
            ></aurss-article>
            <div if.bind="articles.length > 0 && allowMarkAsReadOnScroll" class="allow-read-on-scroll-all-articles"></div>
        </div>
    </div>
</template>
